@import 'colors.css';

/* Estilos para botones */
.btn {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    color: var(--clr-text);
    background-color: var(--clr-primary-purple);
}

.btn:hover {
    background-color: var(--clr-accent-yellow);
    color: var(--clr-primary-dark-blue);
}

/* Estilos para inputs */
.input {
    width: 50%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid var(--clr-gray-medium);
    border-radius: 0.5rem;
    color: var(--clr-text);
    background-color: var(--clr-background);
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.input:focus {
    border-color: var(--clr-light-blue);
    background-color: var(--clr-light-purple);
    outline: none;
}

.item-hover:hover {
    background-color: #60A5FA;
}

.insert {
    background-color: #3ab510;
    transition: all 1s ease;
}

.cancel{
    background-color: #bf0000;
    transition: all 1s ease;
}

.inset:hover{
    background-color: #058e25;
}

.cancel:hover {
    background-color: #07890e;
}

/* Estilos generales para la tabla */
.table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem;
    font-family: Arial, sans-serif;
    background-color: var(--clr-background);
    color: var(--clr-text);
}

    /* Estilos para las celdas */
    .table th,
    .table td {
        padding: 12px;
        border: 1px solid var(--clr-gray-medium);
        text-align: left;
    }

    /* Encabezados de la tabla */
    .table th {
        background-color: var(--clr-primary-purple);
        color: var(--clr-gray-light);
        font-weight: bold;
    }

    /* Efecto hover en las filas */
    .table tr:hover {
        background-color: var(--clr-light-blue);
        color: var(--clr-gray-dark);
    }

    /* Estilos alternos para filas impares */
    .table tr:nth-child(odd) {
        background-color: var(--clr-gray-light);
    }

    .table tr:nth-child(even) {
        background-color: var(--clr-gray-medium);
    }

/* Modo oscuro */
@media (prefers-color-scheme: dark) {
    .table {
        background-color: var(--clr-background);
        color: var(--clr-text);
    }

        .table th {
            background-color: var(--clr-primary-purple);
            color: var(--clr-gray-light);
        }

        .table td {
            border-color: var(--clr-gray-medium);
        }

        .table tr:nth-child(odd) {
            background-color: var(--clr-gray-dark);
        }

        .table tr:nth-child(even) {
            background-color: var(--clr-gray-medium);
        }

        .table tr:hover {
            background-color: var(--clr-light-purple);
            color: var(--clr-gray-light);
        }
}
