:root {
    /* Colores generales */
    --bg-color: #f3f3f3;
    --color-text: #333;
    --color-border: #333;
    --color-hover-bg: #333;
    --color-hover-text: #fff;
    --color-header-bg: #f4f4f4;
    --color-border-table: #ddd;
    --color-row-even-bg: #f9f9f9;
    --color-row-hover-bg: #f1f1f1;
    --color-link: #007bff;
    --color-focus-border: #007bff;
    --color-focus-shadow: rgba(0, 123, 255, 0.25);

    /* Espaciado y bordes generales */
    --padding: 10px 15px;
    --border-radius: 4px;

    /* Estilos de input */
    --input-bg-color: #fff;
    --input-border-color: #d1d5db;
    --input-text-color: #333;
    --input-placeholder-color: #9ca3af;
    --input-focus-border-color: #2563eb;
    --input-focus-shadow-color: rgba(37, 99, 235, 0.2);
    --input-padding: .2rem .8rem;
    --input-font-size: 16px;
    --input-border-radius: 4px;
    --input-transition-duration: 0.3s;

    /* Estilos de dropdown */
    --dropdown-bg-color: #fafafa;
    --dropdown-border-color: #ccc;
    --dropdown-hover-border-color: #007bff;
    --dropdown-text-color: #333;
    --dropdown-shadow: rgba(0, 0, 0, 0.1);
}
