
.btn {
    background-color: transparent;
    color: var(--color-text);
    border: 2px solid var(--color-border);
    padding: .3rem 1rem;
    border-radius: 5px;
    font-size: inherit;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

    .btn:hover {
        background-color: var(--color-hover-bg);
        color: var(--color-hover-text);
        border-color: var(--color-hover-bg);
    }


input {
    width: 100%;
    padding: var(--input-padding);
    font-size: var(--input-font-size);
    color: var(--input-text-color);
    background-color: var(--input-bg-color);
    border: 1px solid var(--input-border-color);
    border-radius: var(--input-border-radius);
    outline: none;
    transition: border-color var(--input-transition-duration), box-shadow var(--input-transition-duration);
}

input:focus {
    border-color: var(--input-focus-border-color);
    box-shadow: 0 0 0 4px var(--input-focus-shadow-color);
}