@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');

*{
    box-sizing:border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #555;
}

#form1{
    width:50%;
    margin:auto;
}

.layout {
    background-color: #fefefe;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10%;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.layout{
    display: grid;
    place-content:center;
    align-items:center;
    grid-template-columns:auto auto;
    gap:1.2rem;
}


.container{
    display: flex;
    justify-content:center;
    flex-direction:column;
    padding:1rem;
}

.container:nth-child(2){
    margin-left: 3rem;
}
.resumeBtn {
    border: 1px solid #eee;
    background-color: #eee;
    outline: #111;
    border-radius: .5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0.7rem 0.9rem;
    transition: 250ms all ease;
    font-weight:600;
}
.resumeBtn:hover{
    background-color: #ededed;
    border:1px solid deepskyblue;
}

.btn{
    position:relative;
    left: -30%;
}

.cList{
    margin: auto 50%;
    font-style:normal;
}