@import './fonts.css';
@import './variables.css';
@import './components.css';

body{
    font-family: var(--ff-body);
    font-size: var(--fz-body);

    background-color: var(--clr-bg);
    color: var(--clr-text);
}

table[border="1"] {
    border: none!important;
}

table{
    border-collapse: collapse!important;
    padding: 1rem;
    background-color: var(--clr-bg-300);
}

th, td{
    padding: 1rem;
}

caption,
th{
    background-color: var(--clr-bg-900);
    text-align: left;
}

caption{
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;

    background-color: var(--clr-bg-900);
    
    padding: 1rem;
}

th{
    background-color: hsla(240, 42%, 5%, .8);
}

tr:nth-of-type(2n){
    background-color:hsla(240, 42%, 5%, .5);
}